<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Integrated Security=true; or Trusted_Connection=True;";-->
		<add name="Attendance"
				 connectionString="Server=.\SQLEXPRESS;Database=AttendanceSystem;Trusted_Connection=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>